.card-1 {
  top: 50px;
  left: 15%;
}
.card-2 {
  top: 50px;
  right: 15%;
}
.card-3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-4 {
  bottom: 50px;
  left: 15%;
}
.card-5 {
  bottom: 50px;
  right: 15%;
}
