.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 0 auto;
  padding: 50px;
  max-width: 1920px;
}

.flex h2 {
  font-size: 70px;
  color: black;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  font-weight: bold;
  text-align: center;
  word-spacing: 0.3em;
}

.wrapper {
  position: relative;
  padding: 50px;
  margin: 0 auto;
  left: 0;
  width: 100%;
  max-width: 1920px;
  min-height: 900px;
}

.span {
  color: black;
  font-weight: bold;
}

